<?xml version="1.0" encoding="utf-8" ?>

<Parameters>
    <outputFolder>C:\</outputFolder>

    <interactiveMode>false</interactiveMode>

    <publisher>LightNovelSniffer</publisher>
    
    <defaultChapterTitle>Chapter {0}</defaultChapterTitle>

    <maxChapterOnErrorCountBeforeStop>10</maxChapterOnErrorCountBeforeStop>

    <resumeExistingFile>true</resumeExistingFile>
</Parameters>