<?xml version="1.0" encoding="utf-8" ?>

<Parameters>
    <outputFolder>E:\LN_Test\</outputFolder>

    <interactiveMode>false</interactiveMode>

    <publisher>ARUS Joshua</publisher>
    
    <defaultChapterTitle>Chapter {0}</defaultChapterTitle>

    <maxNotExistingChapterBeforeStop>10</maxNotExistingChapterBeforeStop>
</Parameters>